<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>1-1.jpg</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{750,1454}</string>
                <key>spriteSourceSize</key>
                <string>{750,1454}</string>
                <key>textureRect</key>
                <string>{{0,0},{750,1454}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{106,77}</string>
                <key>spriteSourceSize</key>
                <string>{106,77}</string>
                <key>textureRect</key>
                <string>{{750,0},{106,77}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1-2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{139,143}</string>
                <key>spriteSourceSize</key>
                <string>{139,143}</string>
                <key>textureRect</key>
                <string>{{856,0},{139,143}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1-3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{137,138}</string>
                <key>spriteSourceSize</key>
                <string>{137,138}</string>
                <key>textureRect</key>
                <string>{{0,1454},{137,138}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1-4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{49,43}</string>
                <key>spriteSourceSize</key>
                <string>{49,43}</string>
                <key>textureRect</key>
                <string>{{137,1454},{49,43}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1-5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{581,86}</string>
                <key>spriteSourceSize</key>
                <string>{581,86}</string>
                <key>textureRect</key>
                <string>{{186,1454},{581,86}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1-6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{18,31}</string>
                <key>spriteSourceSize</key>
                <string>{18,31}</string>
                <key>textureRect</key>
                <string>{{767,1454},{18,31}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1-7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{33,31}</string>
                <key>spriteSourceSize</key>
                <string>{33,31}</string>
                <key>textureRect</key>
                <string>{{785,1454},{33,31}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1-8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{106,77}</string>
                <key>spriteSourceSize</key>
                <string>{106,77}</string>
                <key>textureRect</key>
                <string>{{818,1454},{106,77}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>2-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{125,29}</string>
                <key>spriteSourceSize</key>
                <string>{125,29}</string>
                <key>textureRect</key>
                <string>{{0,1592},{125,29}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>3-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{546,381}</string>
                <key>spriteSourceSize</key>
                <string>{546,381}</string>
                <key>textureRect</key>
                <string>{{125,1592},{546,381}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>3-2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{31,31}</string>
                <key>spriteSourceSize</key>
                <string>{31,31}</string>
                <key>textureRect</key>
                <string>{{671,1592},{31,31}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>3-3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{172,71}</string>
                <key>spriteSourceSize</key>
                <string>{172,71}</string>
                <key>textureRect</key>
                <string>{{702,1592},{172,71}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>4-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{750,1033}</string>
                <key>spriteSourceSize</key>
                <string>{750,1033}</string>
                <key>textureRect</key>
                <string>{{0,1973},{750,1033}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>4-2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{158,162}</string>
                <key>spriteSourceSize</key>
                <string>{158,162}</string>
                <key>textureRect</key>
                <string>{{750,1973},{158,162}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>4-3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{153,154}</string>
                <key>spriteSourceSize</key>
                <string>{153,154}</string>
                <key>textureRect</key>
                <string>{{0,3006},{153,154}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>4-4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{115,109}</string>
                <key>spriteSourceSize</key>
                <string>{115,109}</string>
                <key>textureRect</key>
                <string>{{153,3006},{115,109}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>4-5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{94,97}</string>
                <key>spriteSourceSize</key>
                <string>{94,97}</string>
                <key>textureRect</key>
                <string>{{268,3006},{94,97}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>4-6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{605,87}</string>
                <key>spriteSourceSize</key>
                <string>{605,87}</string>
                <key>textureRect</key>
                <string>{{362,3006},{605,87}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>4-7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{584,88}</string>
                <key>spriteSourceSize</key>
                <string>{584,88}</string>
                <key>textureRect</key>
                <string>{{0,3160},{584,88}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>4-8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{581,86}</string>
                <key>spriteSourceSize</key>
                <string>{581,86}</string>
                <key>textureRect</key>
                <string>{{0,3248},{581,86}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>login-1.png</string>
            <key>size</key>
            <string>{995,3334}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:87d3e40cc510f277c287770a158156d0:385e3a39d61a3d2f83ebc1c6d021ca70:bb3f3ca6535aba576ea69ee27b504f4d$</string>
            <key>textureFileName</key>
            <string>login-1.png</string>
        </dict>
    </dict>
</plist>
