<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>1-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{284,258}</string>
                <key>spriteSourceSize</key>
                <string>{284,258}</string>
                <key>textureRect</key>
                <string>{{0,85},{284,258}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1-1h.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,82}</string>
                <key>spriteSourceSize</key>
                <string>{100,82}</string>
                <key>textureRect</key>
                <string>{{561,0},{100,82}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1-2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{552,81}</string>
                <key>spriteSourceSize</key>
                <string>{552,81}</string>
                <key>textureRect</key>
                <string>{{284,85},{552,81}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1-3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{35,35}</string>
                <key>spriteSourceSize</key>
                <string>{35,35}</string>
                <key>textureRect</key>
                <string>{{16,0},{35,35}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1-4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{553,82}</string>
                <key>spriteSourceSize</key>
                <string>{553,82}</string>
                <key>textureRect</key>
                <string>{{0,343},{553,82}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1-5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{41,41}</string>
                <key>spriteSourceSize</key>
                <string>{41,41}</string>
                <key>textureRect</key>
                <string>{{51,0},{41,41}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,82}</string>
                <key>spriteSourceSize</key>
                <string>{100,82}</string>
                <key>textureRect</key>
                <string>{{661,0},{100,82}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>2-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{664,249}</string>
                <key>spriteSourceSize</key>
                <string>{664,249}</string>
                <key>textureRect</key>
                <string>{{0,429},{664,249}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>2-1h.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{64,85}</string>
                <key>spriteSourceSize</key>
                <string>{64,85}</string>
                <key>textureRect</key>
                <string>{{433,0},{64,85}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>2-2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{57,51}</string>
                <key>spriteSourceSize</key>
                <string>{57,51}</string>
                <key>textureRect</key>
                <string>{{144,0},{57,51}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>2-3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{52,52}</string>
                <key>spriteSourceSize</key>
                <string>{52,52}</string>
                <key>textureRect</key>
                <string>{{92,0},{52,52}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>2-4-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{638,2}</string>
                <key>spriteSourceSize</key>
                <string>{638,2}</string>
                <key>textureRect</key>
                <string>{{0,425},{638,2}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>2-4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{638,2}</string>
                <key>spriteSourceSize</key>
                <string>{638,2}</string>
                <key>textureRect</key>
                <string>{{0,427},{638,2}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>2-5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{16,16}</string>
                <key>spriteSourceSize</key>
                <string>{16,16}</string>
                <key>textureRect</key>
                <string>{{0,0},{16,16}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{64,85}</string>
                <key>spriteSourceSize</key>
                <string>{64,85}</string>
                <key>textureRect</key>
                <string>{{497,0},{64,85}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>3-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{57,85}</string>
                <key>spriteSourceSize</key>
                <string>{57,85}</string>
                <key>textureRect</key>
                <string>{{201,0},{57,85}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{57,85}</string>
                <key>spriteSourceSize</key>
                <string>{57,85}</string>
                <key>textureRect</key>
                <string>{{258,0},{57,85}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>4-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{59,78}</string>
                <key>spriteSourceSize</key>
                <string>{59,78}</string>
                <key>textureRect</key>
                <string>{{315,0},{59,78}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{59,78}</string>
                <key>spriteSourceSize</key>
                <string>{59,78}</string>
                <key>textureRect</key>
                <string>{{374,0},{59,78}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>beijing.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{694,966}</string>
                <key>spriteSourceSize</key>
                <string>{694,966}</string>
                <key>textureRect</key>
                <string>{{0,678},{694,966}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>beijing2.jpg</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{750,970}</string>
                <key>spriteSourceSize</key>
                <string>{750,970}</string>
                <key>textureRect</key>
                <string>{{0,1644},{750,970}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>beijing2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{750,971}</string>
                <key>spriteSourceSize</key>
                <string>{750,971}</string>
                <key>textureRect</key>
                <string>{{0,2614},{750,971}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>login-1.png</string>
            <key>size</key>
            <string>{836,3585}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:788a82362dce76b528b30c4fe13a943f:2b836fa9873865aaf3e4cfde3533be8d:bb3f3ca6535aba576ea69ee27b504f4d$</string>
            <key>textureFileName</key>
            <string>login-1.png</string>
        </dict>
    </dict>
</plist>
